In [275]:
import pandas as pd
import numpy as np

In [276]:
csv_path = "/Users/ebk/class/COLNYC20190716DATA/python-challenge/PyBank/budget_data.csv"

budget_df = pd.read_csv(csv_path)

budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [277]:
#The total number of months included in the dataset

Total_Months = budget_df["Date"].count() 
Total_Months
print("Total_Months =",Total_Months)

Total_Months = 86

In [278]:
#The net total amount of "Profit/Losses" over the entire period

Total = budget_df["Profit/Losses"].sum()
print("Total =",Total)

Total = 38382578

In [279]:
#The average of the changes in "Profit/Losses" over the entire period

budget_df["Profit/Losses1"] = budget_df["Profit/Losses"].shift(1)
budget_df['difference'] = budget_df['Profit/Losses'] - budget_df['Profit/Losses1']
Average_change = budget_df['difference'].mean()
print("Average_change =",np.round(Average_change,2))

Average_change = -2315.12

In [280]:
#creating variables for greatest iincrease/decrease in profits with corresponding dates

Greatest_Increase = budget_df['difference'].max()
print(Greatest_Increase)
Greatest_Decrease = budget_df['difference'].min()
print(Greatest_Decrease)
budget2_df = budget_df[['difference', 'Date']].copy()
new_df = budget2_df.set_index("difference")
GreatestIncrease_Date=new_df.loc[1926159.0,"Date"]
print(GreatestIncrease_Date)
GreatestDecrease_Date=new_df.loc[-2196167.0,"Date"]
print(GreatestDecrease_Date)

1926159.0
-2196167.0
Feb-2012
Sep-2013

In [281]:
#The greatest increase in profits (date and amount) over the entire period

print('Greatest Increase in profits =',GreatestIncrease_Date,'(',Greatest_Increase,')')

Greatest Increase in profits = Feb-2012 ( 1926159.0 )

In [282]:
#The greatest decrease in losses (date and amount) over the entire period


print('Greatest decrease in profits =',GreatestDecrease_Date,'(',Greatest_Decrease,')')

Greatest decrease in profits = Sep-2013 ( -2196167.0 )

In [291]:
import sys
f = open('Output.txt', 'w')
sys.stdout=f
print('Financial Analysis')
print('-----------------------------------')
print("Total_Months =",Total_Months)
print("Total =",'$',Total)
print("Average_change =",'$',np.round(Average_change,2))
print('Greatest Increase in profits =',GreatestIncrease_Date,'(','$',Greatest_Increase,')')
print('Greatest decrease in profits =',GreatestDecrease_Date,'(','$',Greatest_Decrease,')')